@import 'abstracts/variables';
@import 'abstracts/colors';
@import 'abstracts/mixins';


@import 'layout/flex';
@import 'layout/navigation';
@import 'layout/footer';
@import 'layout/sections';


@import 'components/buttons';
@import 'components/inputs';
@import 'components/cards';

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $primary-gray;
}