@use '../abstracts/index' as variables;

.footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: "#fff";
  display: flex;
  justify-content: center;

  .links {
    color: "#fff";
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    .copyright-links {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  @media (max-width: 404px) {
    font-size: 12px;
  }
}
