$primary-gray: #545454;   /* Text Grey */
$secondary-gray: #eee;   /* Background Grey*/
$tertiary-gray: #cccccc;   /* Collapsed Navigation Grey*/

$primary-green: #75d375;   /* Green */
$secondary-green: #54b454;   /* Green */

$primary-red: #f27474;  /* Red */